*.apk
jadx/*
.venv/*
*/jadx-1.5.5-all.jar
*.zip
*.mp4
android-app/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
*.ap_
tmp/*
analysis/phase2_run_20260310_073203_20season_foreground/*

# .NET build artifacts
**/bin/
**/obj/
**/TestResults/analysis/phase3_compat/apk_dec/build/resources.zip
